.border {
    background-color: #f9f9f9;
}

.form {
    display: grid;
    background: white;
    padding: 30px 35px;
    grid-template-rows: repeat(2, 1fr);
}

.formOuter {
    padding: 30px 35px;
}

.label {
    font-size: 14px;
    padding-bottom: 5px;
}

.text {
    padding: 14px 0;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: calc(100% - 10px);
    margin-top: 5px;
    margin-bottom: 15px;
    resize: none;
}

.row1 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, minmax(30%, auto));
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.buttons button {
    border: 1px solid #80bcff;
    color: #80bcff;
    background: white;
    border-radius: 7px;
    font-size: 13px;
    padding: 10px 0;
    width: 18%;
    margin: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.row2 input[type="number"] {
    padding: 12px 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 25px;
}

.row2 input[type="number"]::-webkit-inner-spin-button,
.row2 input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    margin: 0;
    background-color: white;
}

.numbers {
    display: flex;
    margin-top: 20px;
}

.cancel {
    color: red !important;
    border: 1px solid red !important;
}
.add {
    color: white !important;
    background: #007aff !important;
}
