.dashboardGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 300px auto;
}

.mainContent {
  grid-column: 2;
  display: grid;
  grid-template-rows: 108px 72px auto;
}

.content {
  grid-row: 3;
  padding: 24px 48px;
}
