.navSidebar {
  grid-column: 1;
  background: #2d373c;
  min-height: 100vh;
  min-width: 350px;
}

/* @media only screen and (max-width: 800px) {

} */

.sidebarBrandingHeader {
  display: grid;
  padding: 40px 0px 30px 40px;
  grid-template-columns: auto 40px;
  align-items: center;
}

.sidebarBranding {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}

.sidebarList {
  width: 100%;
}

.sidebarGroup {
}

.sidebarMainItem {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 55px;
  height: 48px;

  /* background: #007aff; */
}

.mainItemContent {
  display: grid;
  align-items: center;
  grid-template-columns: 80px auto;
  height: 100%;

  color: white;
}

.mainItemIcon {
  padding-left: 40px;
  width: auto;
}

.dropdownIcon {
  padding-left: 20px;
  width: auto;
}

.sidebarSubItem {
  width: 100%;
  height: 46px;
  display: grid;
  align-items: center;
  padding-left: 80px;

  color: white;
}

.alink:visited,
.alink:link {
  text-decoration: none;
}

.subActive {
  background: #1f282d;
  color: #007aff !important;
}
