.navSidebar {
  grid-column: 1;
  background: #2d373c;
  min-height: 100vh;
  padding: 40px;
}

.sidebarBranding {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}