.select {
    color: #000000;
    font-size: 14px;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(255, 255, 255)
        url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75'><path d='M13.5101 15.2002L15.4801 13.2302L18.6901 10.0202C19.3601 9.34018 18.8801 8.18018 17.9201 8.18018H11.6901H6.08007C5.12007 8.18018 4.64007 9.34018 5.32007 10.0202L10.5001 15.2002C11.3201 16.0302 12.6801 16.0302 13.5101 15.2002Z' fill='black'/></g></svg>")
        no-repeat;
    background-position: right 5px top 50%;

    padding: 14px 0;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.selected {
    color: blue;
}

select option:first-child {
    color: lightgray;
}
